:root{
    --color-primario: #53d4ff;
    --color-fondo: #bceeff;
    --color-acento: #1a2ba4;
    --color-texto: #1a1a1a;
    --color-texto-claro: #ffffff;
    --fuente-principal: "inter", sans-serif;

}
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fuente-principal);
    font-size: 16px;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    max-width: 1100px;
    margin: 0 auto;
}
h1{
    font-size: 2rem; color: var(--color-primario);  
}
h2{
    font-size: 1,5rem; color: var(--color-primario);
}
h3{
    font-size: 1,25rem; color: var(--color-acento);
}
p{
    margin-bottom: 1rem;
}
