@import url('Integrante1.css');
@import url('Integrante2.css');
@import url('Integrante3.css');
@import url('Integrante4.css');

/* rectangulo negro */
.mi-nav-negra {
    background-color: #000 !important;
    width: 100% !important;
    display: block !important;
}

.mi-nav-negra .nav-link {
    color: #ffffff !important;
    font-weight: bold !important;
    opacity: 1 !important;
}

/* menu visible */
@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
    .navbar-nav {
        flex-direction: row !important;
        gap: 30px;
    }
}

/* Menú */
@media (max-width: 991px) {
    .mi-nav-negra .navbar-nav {
        flex-direction: column;
        gap: 10px;
    }
}

.navbar-collapse.collapse:not(.show) {
    display: none !important;
}

/* adaptabilidad de imagenes*/
img {
    max-width: 100% !important;
    height: auto !important;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}