header {
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    padding: 0.5rem 1.5rem; 
    display: flex;
    justify-content: space-between; /* Mantiene logo a la izq y nav a la der */
    align-items: center;
    height: 90px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-y-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
}

header img {
    height: 70px; /* Logo grande y claro */
    width: auto;
}

header h1 {
    font-size: 1.3rem;
    color: var(--color-texto-claro);
    margin: 0;
    white-space: nowrap; /* Evita que el título se rompa en varias líneas */
}

nav {
    margin-top: 0;
    flex-shrink: 0; /* Asegura que el menú no se achique */
}