header{
 background-color: var(--color-primario);
 color: var(--color-texto-claro);
 padding: 1rem 1.5rem;
}


header h1{
 color: var(--color-texto-claro);
}


header h2{
 color: var(--color-acento);
}


nav{
 margin-top: 0.5rem;
}

nav a{
 color: var(--color-texto);
 text-decoration: none;
 font-weight: 600;
 margin-right: 1rem;
}


nav a:hover{
 color: var(--color-acento);
 text-decoration: underline;
}


main{
 margin-bottom: 2rem;
}


footer{
 background-color: var(--color-primario);
 color: var(--color-texto-claro);
 padding: 1.5rem;
 text-align: center;
}