/*-- Variables --*/
:root {
    --color-primario: #53d4ff;
    --color-fondo: #bceeff;
    --color-acento: #1a2ba4;
    --color-texto: #1a1a1a;
    --color-texto-claro: #ffffff;
    --fuente-principal: "Inter", sans-serif;
}

/*-- Reset --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Body --*/
body {
    font-family: var(--fuente-principal);
    line-height: 1.6;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}